body {
    /* border: 2px solid blue; */
    margin: 10vh 6vh 6vh 10vh;
}

header {
    border: 2px solid darkgray;
    background-color: lightgray;
    height: 15vh;
    margin-bottom: 25px;
}

main {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.main-left {
    border: 2px solid darkgray;
    background-color: lightgray;
 
}

.main-right {
    border: 2px solid darkgray;
    background-color: lightgray;
    flex-basis: 40%;
    margin-left: 5vh;
}

footer {
    border: 2px solid darkgray;
    background-color: lightgray;
    height: 15vh;
    margin-top: 5vh;
}